.barra{
    color: white;
}
.precio{
    font-size: 1.1rem;
    border: solid 1px white;
    padding-left: 5px;
    padding-right: 15px;
    border-radius: 5px;
    background-color: rgba(124, 111, 111, 0.2);
}