.principal{
    font-size: 100px;
    color: #ff0000;
    display: inline-block;
    margin-bottom: 20px;
    animation: bounce 1s ease-in-out infinite;
}
@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}
.secundario{
    font-size: 32px;
    color: #9d1d29;
}
