.contenedor{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 80px;
}
.contenedor-carrito{
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.carrito {
  display: flex !important;  
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 8px;
  background-color:#fff;
}
.imagen {
  width: 80px;
}

.info {
  flex: 1;
}

.botones {
  display: flex;
  gap: 0.5rem;
}